*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    text-decoration: none;
    color: rgb(177, 238, 238);
    padding: 3px;
    margin: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    transition: 0.5s;
}

a:hover{
    border: 1px solid gray;
    border-radius: 11px;
    transition: 0.5s;
}

.midsec{
    font-size: 15px;
    font-weight: 400;
}

.log{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: white;
    border: 1px solid transparent;
    padding: 5px 10px;
    margin-bottom: 2px;
    transition: 0.5s;
}

.log:hover{
    border-radius: 11px;
    border: 1px solid gray;
    transition: 0.5s;
}

.sign{
    font-family: ;
}